<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Бронирование</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{styles/css/header.css}">
  <link rel="stylesheet" th:href="@{styles/css/main.css}">


</head>
<body >
  <div th:insert="~{blocks/header :: header}"></div>
  <div class="container" style="padding-top: min(200px,15%)">
    <div class="mb-4" style="display: flex; justify-content: center">
      <h1 style="color: #D8D8DA; margin-bottom: 10px">Выберите место и время бронирования</h1>
    </div>
    <hr style="background-color: #D8D8DA; margin-bottom: 10px">
    <br>
    <div class="container" style="width: 90%; height:50%">
      <form th:action="@{/}" th:method="post" th:object="${booking}">
        <div class="form-group mt-3">
          <select th:field="*{place}" style="color: #6C757D" class="form-control" aria-label="Default select example">
            <option th:each="room : ${halls}" th:value="${room.id}" th:text="${room.name+' - '+room.address}"></option>
          </select>
          <div class="alert alert-danger" th:if="${#fields.hasErrors('place')}" th:errors="*{place}"/>
        </div>
        <div class="form-group mt-3" >
            <label for="date">Выберите дату</label>
            <input class="form-control"
                   type="date" id="date" required name="date"
                   th:field="*{date}"/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"/>
        </div>
        <div class="form-row mb-4">
          <div class="col">
            <label for="timeStart">Начало</label>
            <input class="form-control"
                   th:field="*{timeStart}"
                   type="time" id="timeStart" name="timeStart"
                   step="600"
                   min="08:30"
                   max="22:00"
                   required/>
            <div class="alert alert-danger"th:if="${#fields.hasErrors('timeStart')}" th:errors="*{timeStart}"/>
          </div>
          <div class="col">
            <label for="timeEnd">Конец</label>
            <input class="form-control"
                   th:field="*{timeEnd}" type="time" id="timeEnd" name="timeStart"
                   step="600"
                   min="08:30"
                   max="22:00"
                   required/>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('timeEnd')}" th:errors="*{timeEnd}"/>
          </div>
        </div>
        <div style="display: flex; position: absolute; width: 100%">
          <input class="btn btn-info" type="submit" value="Продолжить"/>
        </div>
      </form>
    </div>
  </div>


  <script type="text/javascript" src="js/dateFormat.js"></script>

  <script type="text/javascript" src="js/date.js"></script>
</body>
</html>