<!DOCTYPE html>
<html xml:lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Бронирование Севастополь</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <!-- Css Styles -->
    <th:block th:insert="~{blocks/links :: links}"></th:block>
</head>

<body>
    <div th:insert="~{blocks/header :: header}"></div>

    <!-- Modal -->
    <div th:insert="~{blocks/modal :: modal}"></div>
    <div th:insert="~{blocks/success-alert :: success-alert}"></div>

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-text">
                        <h1>Бронирование помещений</h1>
                        <p>Здесь вы можете забронировать помещения в севастополе</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                    <div class="booking-form">
                        <h3>Бронирование помещений</h3>
                        <form id="booking-form-index" >
                            <div class="check-date">
                                <label for="date-in">Дата:</label>
                                <input id="date-in" required="required" onkeydown="return false;" autocomplete="off">
                                <input type="text"id="alt-date" required="required" hidden="hidden">
                                <i class="icon_calendar"></i>
<!--                                <div class="alert alert-danger" th:if="${#fields.hasErrors('date')}">Введи корректную дату</div>-->
                            </div>
                            <div class="check-date">
                                <label for="time-start">Начало:</label>
                                <input type="text" class="date-input time-start" id="time-start" required="required">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="time-end">Конец:</label>
                                <input type="text" class="date-input time-end" id="time-end" required="required">
                                <i class="icon_calendar"></i>
                                <div id="wrong-time-end-alert" class="alert alert-danger" style="display:none"></div>
                            </div>
                            <div class="select-option">
                                <label for="room">Помещение:</label>
                                <select id="room">
                                    <option th:each="room : ${halls}" th:value="${room.id}" th:text="|${room.name} - ${room.address}"></option>
                                </select>
                                <div class="alert alert-danger place-not-free-alert" style="display: none"></div>

                            </div>
                            <!-- /person_details -->
                            <button id="booking-submit-btn" type="submit" class="btn btn-primary" >Продолжить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="img/hero/hero-1.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-2.jpg"></div>
            <div class="hs-item set-bg" data-setbg="img/hero/hero-3.jpg"></div>
        </div>
    </section>
    <!-- Hero Section End -->



    <!-- About Us Section Begin -->
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span>О нас</span>
                            <h2>Цирковые волки</h2>
                        </div>
                        <p class="f-para">Sona.com is a leading online accommodation site. We’re passionate about
                            travel. Every day, we inspire and reach millions of travelers across 90 local websites in 41
                            languages.</p>
                        <p class="s-para">So when it comes to booking the perfect hotel, vacation rental, resort,
                            apartment, guest house, or tree house, we’ve got you covered.</p>
                        <a href="#" class="primary-btn about-btn">Read More</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/about/about-1.jpg" alt="">
                            </div>
                            <div class="col-sm-6">
                                <img src="img/about/about-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Us Section End -->



    <!-- Home Room Section Begin -->
    <section class="hp-room-section mb-5">
        <div class="container-fluid">
            <div class="hp-room-items">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b1.jpg">
                            <div class="hr-text">
                                <h3>Зеркальный зал, Гоголя, 14</h3>
                                <h2>&#160</h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Размер:</td>
                                            <td>30 м²</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Вместимость:</td>
                                            <td>40 человек</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Сервисы:</td>
                                            <td>Wifi, Экран, Тулает, ...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/rooms/zerkalniy-zal-gogolya}" class="primary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b2.jpg">
                            <div class="hr-text">
                                <h3>Актовый зал, Курчатова, 7</h3>
                                <h2>&#160</h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>30 м²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>40 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервисы:</td>
                                        <td>Wifi, Экран, Тулает, ...</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/rooms/actoviy-zal-kurchatova}" class="primary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b3.jpg">
                            <div class="hr-text">
                                <h3>Холл 2 на Гоголя, 14</h3>
                                <h2>&#160</h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>30 м²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>40 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервисы:</td>
                                        <td>Wifi, Экран, Тулает, ...</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/rooms/hall2-gogolya}" class="primary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <div class="hp-room-item set-bg" data-setbg="img/room/room-b4.jpg">
                            <div class="hr-text">
                                <h3>Холл 3 на Гоголя, 14 </h3>
                                <h2>&#160</h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>30 м²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>40 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервисы:</td>
                                        <td>Wifi, Экран, Тулает, ...</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a th:href="@{/rooms/hall3-gogolya}" class="primary-btn">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Home Room Section End -->

    <div th:insert="~{blocks/footer :: footer}"></div>

    <!-- Js Plugins -->
    <script src="/js/selectScript.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.min.js"></script>
</body>

</html>