<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sona | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <th:block th:insert="~{blocks/links :: links}"></th:block>
</head>

<body>
<div th:insert="~{blocks/header :: header}"></div>


    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Наши помещения</h2>
                        <div class="bt-option">
                            <a href="./index.html">На главную</a>
                            <span>Домашняя страница</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->
    
    <section class="rooms-section spad">
        <!-- If user looking for free room on this dates-->
        <div class="breadcrumb-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form th:method="get" th:action="@{/rooms}" id="free-rooms-form">
                            <div class="rooms-form">
                                <div class="rooms-inputs">
                                    <div class="check-date">
                                        <input id="date-in" placeholder="Дата" required="required" onkeydown="return false;" autocomplete="off">
                                        <input th:value="${date}" name="date" type="text"id="alt-date" required="required" hidden="hidden">
                                        <i class="icon_calendar"></i>
                                    </div>
                                    <div class="check-date">
                                        <input th:value="${timeStart}" placeholder="Начало" name="timeStart" type="text" class="date-input time-start" id="time-start" required="required">
                                        <i class="icon_calendar"></i>
                                    </div>
                                    <div class="check-date">
                                        <input th:value="${timeEnd}" placeholder="Конец" name="timeEnd" type="text" class="date-input time-end" id="time-end" required="required">
                                        <i class="icon_calendar"></i>
                                        <div id="wrong-time-end-alert" class="alert alert-danger" style="display:none"></div>
                                    </div>
                                </div>
                                <input class="free-rooms-button" type="submit" value="Показать свободные">
                                <a th:href="@{/rooms}" class="free-rooms-button">Показать все</a>
                            </div>

                        </form>
                        <div class="breadcrumb-text">
                            <div class="bt-option" th:if="${free_rooms}">
                                <h4 style="color:#000 " th:text="${'Свободные помещения на '
                                +#temporals.format(booking.date, 'dd MMMM yyyy') + ' - ' + booking.timeStart+
                                '-'+booking.timeEnd}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End if section -->

        <!-- Rooms Section Begin -->
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4" th:each="room : ${rooms}">
                    <div class="room-item">
                        <img th:src="@{/img/room/room-1.jpg}" alt="">
                        <div class="ri-text">
                            <h4 th:text="${room.name+', ' + room.address}"></h4>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Размер:</td>
                                        <td>30 м²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Вместимость:</td>
                                        <td>40 человек</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Сервисы:</td>
                                        <td>Wifi, Экран, Тулает, ...</td>
                                    </tr>
                                </tbody>
                            </table>
                            <a th:href="@{/rooms/{name}(name=${room.engName})}" class="primary-btn">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Rooms Section End -->

    <div th:insert="~{blocks/footer :: footer}"></div>

    <!-- Js Plugins -->
    <script src="/js/selectScript.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.min.js"></script>
</body>

</html>