<div th:fragment="modal-admin-date-change" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="modal fade" th:id="'change-date-modal'+${booking.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
      <div class="modal-content">
        <form th:id="'admin-change-date-form'+${booking.id}">
          <input type="text" id="booking_id" hidden="hidden" th:value="${booking.id}">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Измените дату</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" th:id="'modal'+${booking.id}">
              <div class="check-date">
                <label th:for="'date-in'+${booking.id}">Дата:</label>
                <input style="text-transform: uppercase"
                       th:value="${#temporals.format(booking.date, 'dd MMMM, yyyy')}" type="text" class="date-input" th:id="'date-in'+${booking.id}" required="required" autocomplete="off" onkeydown="return false;" >
                <input th:value="${#temporals.format(booking.date, 'yyyy-MM-dd')}" th:name="date"
                       type="text" th:id="'alt-date'+${booking.id}" required="required" hidden="hidden">
              </div>
              <div class="check-date">
                <label th:for="'time-start'+${booking.id}">Начало:</label>
                <input th:value="${#dates.format(booking.timeStart, 'HH:mm')}" th:name="timeStart"
                       type="text" class="date-input" th:id="'time-start'+${booking.id}" required="required">

              </div>
              <div class="check-date">
                <label th:for="'time-end'+${booking.id}">Конец:</label>
                <input th:value="${#dates.format(booking.timeEnd, 'HH:mm')}" th:name="timeEnd"
                       type="text" class="date-input" th:id="'time-end'+${booking.id}" required="required">

                <div th:id="'wrong-time-end-alert'+${booking.id}" class="alert alert-danger" style="display:none"></div>
                <div th:id="'place-not-free-alert'+${booking.id}" class="alert alert-danger" style="display: none"></div>
              </div>
          </div>
          <div class="modal-footer">
            <button th:id="'admin-change-date-submit-btn'+${booking.id}" type="submit" class="btn btn-primary">Изменить дату и подтвердить</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
<!-- End modal-->