<div th:fragment="modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" >
            <div class="modal-content">
                <form id="personForm">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Пожалуйста предоставьте следующую информацию</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="check-date form">
                            <label for="last_name">Фамилия ⃰ </label>
                            <input class=""
                                   type="text"
                                   name="last_name"
                                   id="last_name"
                                   required>
<!--                            <div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>-->
                        </div>

                        <div class="check-date form">
                            <label for="first_name">Имя ⃰ </label>
                            <input class=""
                                   type="text"
                                   name="first_name"
                                   id="first_name"
                                   required>
<!--                            <div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>-->
                        </div>
                        <div class="check-date form">
                            <label for="middle_name">Отчество ⃰ </label>
                            <input class="date-input"
                                   type="text"
                                   name="middle_name"
                                   id="middle_name"
                                   required>
<!--                            <div class="alert alert-danger" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"/>-->
                        </div>
                        <div class="check-date form">
                            <label for="phone">Номер телефона ⃰ </label>
                            <input placeholder="+7xxxxxxxxxx"
                                   type="text"
                                   name="phone"
                                   id="phone"
                                   required>
                            <div id="phone-error-alert" class="alert alert-danger" style="display: none"/>
                        </div>
                        <div class="select-option">
                            <label for="post">Должность</label>
                            <select style="color: #6C757D" id="post" aria-label="Default select example">
                                <option th:value="Должность" th:text="Должность" disabled></option>
                                <option th:value="Студент" th:text="Студент" id="student" selected></option>
                                <option th:value="Работник" th:text="Работник" id="worker"></option>
                            </select>
                        </div>
                        <div class="student" style="display: block">
                            <div class="check-date form">
                                <label for="institute">Институт ⃰ </label>
                                <input type="text"
                                       name="institute"
                                       id="institute"
                                       required>
<!--                                <div class="alert alert-danger" th:if="${#fields.hasErrors('institute')}" th:errors="*{institute}"/>-->
                            </div>

                            <div class="select-option">
                                <label for="course">Курс</label>
                                <select style="color: #6C757D" id = "course" aria-label="Default select example">
                                    <option th:value="'-1'" disabled th:text="Курс"></option>
                                    <option th:value="'1'" selected th:text="1"></option>
                                    <option th:value="'2'"th:text="2"></option>
                                    <option th:value="'3'"th:text="3"></option>
                                    <option th:value="'4'"th:text="4"></option>
                                </select>
                            </div>
                        </div>
                        <div class="check-date form worker" style="display:none; width: 100%" >
                            <label for="structure">Структура ⃰ </label>
                            <input type="text"
                                   name="structure"
                                   id="structure">
<!--                            <div class="alert alert-danger" th:if="${#fields.hasErrors('structure')}" th:errors="*{structure}"/>-->
                        </div>
                        <div class="check-date form">
                            <label for="comment">Комментарий:</label>
                            <textarea
                                    type="text"
                                    name="comment"
                                    id="comment"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="person-details-submit-btn" type="submit" class="btn btn-primary">Продолжить</button>
                        <button id="person-details-close-btn"type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End modal-->