<div th:fragment="success-alert" xmlns:th="http://www.w3.org/1999/xhtml">

  <!-- Modal -->
  <div class="modal fade" id="alert-success" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog border-success">
      <div class="modal-content">
        <div class="modal-header alert-success">
          <h5 class="modal-title" id="exampleModalLabel">Успешно!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body alert-success">
          Ваша заявка будет рассмотрена в ближайшее время.
        </div>
        <div class="modal-footer alert-success">
          <button style="height: 35px !important;" type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Ок</button>
        </div>
      </div>
    </div>
  </div>

</div>